body{
  display: flex;
}
.n1{
  background-color: green;
  width: 33%;
  height: 2000px;
}
.n2{
  background-color: yellow;
  width: 33%;
  height: 2000px;
}
.n3{
  background-color: red;
  width: 33%;
  height: 2000px;
}